@model CredentialsViewModel
@{
    ViewData["Title"] = "Get credentials";
}

<div class="text-center">
    <h1 class="display-4">Name: @Model.Name Password: @Model.Password</h1>
    <p>These will be shown just once!</p>
</div>
