@model CredentialsViewModel
@{
    ViewData["Title"] = "Get credentials";
}

<div class="text-center">
    <h2 class="display-4">Name: @Model.Name  Password: @Model.Password</h2>
    <p>These will be shown just once!</p>
</div>
